body {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 34px;
    height: 6rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 6rem;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }

  .game-board {
    margin: 2rem;
  }
  
  .game-info {
    margin: 2rem;
    padding: 1.4rem;
    border: 1px grey solid;
  }

  .game-info > p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  .game-info > ol {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }


  .game-info > ol > li {
    margin: 0.3rem auto;
  }

  .Scoreboard {
    display: flex;
    flex-direction: row wrap;
  }

  .player {
    display: flex;
    flex-direction: column;
  }

  .player > p {
    margin: 0.6rem;
    text-align: center;
  }

  .player > p > b {
    font-size: 1.1rem;
  }

  .player > div {
    margin: 1rem;
  }
  